<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>SportowySzlug</title>
</head>
<body>
  <div class="form-class">
      <form class="form-box" method="POST" enctype="multipart/form-data">
        <h1>You have 10 minutes to verificated your profile now you have {{time}}</h1>
        {% csrf_token %}
          {% for field in form %}
          <span class="field-label">{{field.label}}</span>
          {{field}}
          {% endfor %}
          <span class="field-label">Verification Code</span>
          <span class="field-label-error">{{errors}}</span>
          <input type="text" name="verification_code">

        <input type="submit">
      </form>

  </div>
</body>