{% extends 'main.html' %}

{% block content %}


<div class="delete-class">
    <div>
        <h1>LOGOUT</h1>
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="buttons">
                <input class="btn" type="submit" value="logout"/>
            </div>
        </form>
        <div class="buttons">
            <a href="{% url 'projects' %}?page=1"><button class="btn">&#8592; BACK</button></a>
        </div>
    </div>
</div>

{% endblock content %}