{% extends 'main.html' %}
{% load static %}
{% load embed_video_tags %}

{% block content %}

<div>
    <a onclick="history.back()" class="btn">&#8592; BACK</a>
</div>

<div class="grid-container">
    <div class="profile-info">
        <h1>{{profile.username}}</h1>
        <img class="profile-image-in-profile-page" src="{% static profile.profile_image %}" />
        <img class="rank-image-in-profile-page" src="{% static rank.rank_image %}">

    </div>

    <div class="project-info">
    {% for project in projects %}

            <div class="project-name">
                <a href="{% url 'project' project.id %}" class="btn">{{project}}</a>
            </div>
            <div class="class-video">
                <h2>{% video project.video '360x640' %}</h2>
            </div>

    {% endfor %}
     </div>

</div>

{% endblock content %}