{% extends 'main.html' %}
{% load embed_video_tags %}
{% load static %}
{% block content %}
<div>
    <a onclick="history.back()" class="btn">&#8592; BACK</a>
</div>


<section class="class-project">
    <div class="profile-in-project">
    <a href="{% url 'profile' owner.id %}"><h1><img class="profile-image" src="{% static owner.profile_image %}"/>{{owner.username}}</h1></a>
    </div>
    <div><h2>{{project.title}}</h2></div>
    <div><img class="rank-image" src="{% static rankObj.rank_image %}"></div>
    <div class="class-video">{% video project.video '360x640' %}</div>
    <div class="form-class">
        <div class="form-box-project">
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <span class="field-label">{{field.label}}</span>
            <span class="input-class">{{field}}</span>
            {% endfor %}
            <input type="submit">
        </form>
        <div class="review-class">
            {% if votes.count > 0 %}
            <div class="filtr-class">
            <label>Filter</label>
            <form method="get">
            {% csrf_token%}
            <select name="filters">
                <option value="None">None</option>
                <option value="up">Up Vote</option>
                <option value="down">Down Vote</option>
            </select>
                <input type="submit" name="submit" placeholder="Submit">
            </form>
            </div>
            {% endif %}
            {% for vote in votes%}
            <div class="review-flex">
            <a href="{% url 'profile' vote.owner.id  %}"><img src="{% static vote.owner.profile_image %}"></a>
            {% if vote.value == 'up' %}
                <a href="{% url 'profile' vote.owner.id  %}"><p><strong>{{vote.owner.username}} 👍</strong></p></a>
            {% else %}
                <a href="{% url 'profile' vote.owner.id  %}"><p><strong>{{vote.owner.username}} 👎</strong></p></a>
            {% endif %}
            </div>
            <p>{{vote.body}}</p>
            {% endfor %}
        </div>
        </div>
        {% else %}
        <div class="review-class">
        <h2>If you want left a review please <a class="no-login-user-in-review-a" href="{% url 'login' %}">login</a></h2>
            {% if votes.count > 0 %}
            <div class="filtr-class">
            <label>Filter</label>
            <form method="get">
            {% csrf_token%}
            <select name="filters">
                <option value="None">None</option>
                <option value="up">Up Vote</option>
                <option value="down">Down Vote</option>
            </select>
                <input type="submit" name="submit" placeholder="Submit">
            </form>
            </div>
            {% endif %}

            {% for vote in votes%}
            <div class="review-flex">
            <a href="{% url 'profile' vote.owner.id  %}"><img src="{% static vote.owner.profile_image %}"></a>
            {% if vote.value == 'up' %}
                <a href="{% url 'profile' vote.owner.id  %}"><p><strong>{{vote.owner.username}} 👍</strong></p></a>
            {% else %}
                <a href="{% url 'profile' vote.owner.id  %}"><p><strong>{{vote.owner.username}} 👎</strong></p></a>
            {% endif %}
            </div>
            <p>{{vote.body}}</p>
            {% endfor %}
        </div>
        </div>
        {% endif %}
    </div>

    {% if request.user.id == owner.id %}
    <div>
    <a href="{% url 'update-project' project.id %}" class="btn">Update</a>
    </div>
    <div>
    <a href="{% url 'delete-project' project.id %}" class="btn">Delete</a>
    </div>
    {% endif %}

</section>
{% endblock content %}